{% extends 'base.html' %}

{% block title %}
    {{ book.name }} Chapter {{ chapter.number }}
{% endblock %}

{% block nav %}
    {% for book in books %}
        <a class="nav-link {% if book.id == current_book.id %}active{% endif %}" href="{% url 'read_bible' book.id 1 %}">{{ book.name }}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    <h1>{{ book.name }} Chapter {{ chapter.number }}</h1>
    <div>
        {% for verse in verses %}
            <div>
                <span>{{ verse.number }}. {{ verse.text }}</span>
            </div>
        {% endfor %}
    </div>

    <div class="navigation">
        {% if previous_chapter %}
            <a href="{% url 'read_bible' book.id previous_chapter.number %}" class="btn btn-secondary">Previous Chapter</a>
        {% endif %}
        {% if next_chapter %}
            <a href="{% url 'read_bible' book.id next_chapter.number %}" class="btn btn-secondary">Next Chapter</a>
        {% endif %}
    </div>
{% endblock %}
