
{% extends 'base.html' %}

{% block title %}
    { PrayerCategory.name } - Your Website
{% endblock %}

{% block content %}
    <h1>{{ PrayerCategory.name }}</h1>
    <p><strong>Description:</strong> {{ PrayerCategory.description }}</p>
    <p><a href="{% url 'prayercategory_update' prayercategory.pk %}" class="btn btn-primary">Edit</a></p>
    <form action="{% url 'prayercategory_delete' prayercategory.pk %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}
