
{% extends 'prayers/base.html' %}

{% block title %}
    { User.name } - Your Website
{% endblock %}

{% block content %}
    <h1>{{ User.name }}</h1>
    <p><strong>Description:</strong> {{ User.description }}</p>
    <p><a href="{% url 'user_update' user.pk %}" class="btn btn-primary">Edit</a></p>
    <form action="{% url 'user_delete' user.pk %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}
